.SearchBar input {
    border-radius: 20px;
    color: #545865;
    padding-left: 40px;
    background-color: rgba(255, 255, 255, .25);
    margin-bottom: 16px;
    transition: background-color .4s cubic-bezier(.165,.84,.44,1);
  }
  
  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }